@media (min-width: 2000px) {
  .big-heading {
    font-size: 100px;
    width: 70%;
  }

  .h-detail {
    font-size: 20px;
    max-width: 60%;
  }

  .btn-discover {
    font-size: 2.5rem;
    padding: 1rem 3rem;
  }
  .pad {
    box-sizing: border-box;
    margin: 5rem auto;
    width: 80%;
    padding: 3rem 8rem;
    row-gap: 3rem;
  }
  .card {
    width: 28%;
  }
  .big-heading {
    font-size: 130px;
  }
  .h-detail {
    font-size: 35px;
  }
  .btn-discover {
    font-size: 44px;
    width: 600px;
  }
  .center {
    width: 55%;
  }
  .icon-down a {
    font-size: 3rem;
  }
  #navbar .brand {
    font-size: 3rem;
    font-weight: 700;
  }
  .nav a {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .method-label {
    font-size: 35px;
  }
  #exp-row {
    padding-top: 5rem;
    padding-left: 20rem;
  }
  .f-nav a {
    font-size: 2rem;
  }
  .iner-div {
    transform: scale(1.4);
    max-width: 37%;
  }
  .card-adress,
  .card-price {
    font-size: 2.5rem;
  }
  .card-detail {
    font-size: 2rem;
  }
  .card-description {
    font-size: 2.5rem;
  }
  .card-h3 {
    font-size: 3rem;
  }
  .inner-card-detail {
    padding-bottom: 4rem;
  }
  .card-add {
    font-size: 2rem;
  }
  .pp {
    font-size: 18px;
  }
  .center-line .pp {
    width: 16rem;
    text-align: left;
  }
  .center-line > * {
    top: -120px;
  }
  .rgt-line > * {
    left: 2rem;
    top: -120px;
  }
  .lft-line > * {
    top: -120px;
  }
  #discover-sec img {
    height: 800px;
    width: 300px;
  }
  .center h3 {
    font-size: 50px;
  }
  #card-sec .row {
    row-gap: 2rem;
  }
  /* .method-h1 {
    font-size: 90px;
  }
  .method-p{
  font-size: 60px;
  }
  
  .icon-down2 a{
    font-size: 3rem;
  } */
}
@media all and (max-width: 2200px) and (min-width: 2000px) {
  #card-sec .row {
    row-gap: 2rem;
  }
  .pad {
    padding: 3rem 5rem;
  }
}
@media all and (max-width: 1999px) and (min-width: 1446px) {
  #card-sec .row {
    row-gap: 2rem;
  }
  .big-heading {
    font-size: 100px;
  }
  .h-detail {
    font-size: 20px;
    max-width: 70%;
  }
  .btn-discover {
    font-size: 2.5rem;
    padding: 1rem 3rem;
  }
  .pad {
    box-sizing: border-box;
    margin: 5rem auto;
    width: 85%;
    padding: 3rem 8rem;
    row-gap: 3rem;
  }
  .card {
    width: 27%;
  }
  .center {
    width: 20%;
  }
  .big-heading {
    font-size: 120px;
  }
  .h-detail {
    font-size: 30px;
  }
  .btn-discover {
    font-size: 44px;
    width: 600px;
  }
  .center {
    width: 70%;
  }
  .icon-down a {
    font-size: 3rem;
  }
  #navbar .brand {
    font-size: 3rem;
    font-weight: 700;
  }
  .nav a {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .method-label {
    font-size: 28px;
  }
  .f-nav a {
    font-size: 2rem;
  }
  .card-adress,
  .card-price {
    font-size: 1.4rem;
  }
  .card-detail {
    font-size: 1.2rem;
  }
  .card-description {
    font-size: 1.8rem;
  }
  .card-h3 {
    font-size: 2rem;
  }
  .iner-div {
    transform: scale(1.4);
    max-width: 40%;
  }
  .inner-card-detail {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .card-add {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 1760px) and (min-width: 1446px) {
  .card {
    width: 26%;
  }
  .pad {
    width: 90%;
  }
}
@media all and (max-width: 1200px) and (min-width: 940px) {
  .c-p {
    font-size: 25px;
  }
  .big-heading {
    width: 90%;
    font-size: 85px;
  }
  .h-detail {
    font-size: 20px;
  }
  .pad {
    padding: 0 0.5rem;
  }
  .row2 {
    flex-wrap: nowrap;
  }
  .main-exp {
    padding: 0 3rem;
  }
  .exp-h1 {
    font-size: 45px;
    width: 100%;
  }
  .exp-p {
    font-size: 37px;
  }
  .exp-row {
    padding: 0rem;
  }
  #experience-sec .row {
    padding: 4rem 0rem;
  }
  .lbl {
    font-size: 18px;
    margin-left: 0.7;
  }
  .center h3 {
    font-size: 35px;
    margin-bottom: 3rem;
  }
  .method-label {
    font-size: 18px;
    min-height: 2rem;
  }
  #method-section {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .check-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .btn-checkout {
    font-size: 40px;
  }
  #discover-sec img {
    height: 500px;
    width: 100%;
  }
  /* card sec */
  .card-h3 {
    font-size: 25px;
  }
  .card-btn {
    font-size: 18px;
    margin-top: 0;
  }
  .card {
    width: 24%;
    margin: 7px;
  }
  .card-adress {
    font-size: 18px;
  }
  .card-price {
    font-size: 18px;
  }
  .card-add {
    text-align: center;
    margin-top: 8px;
  }
  #card-sec .row {
    row-gap: 1rem;
  }
  .pad {
    /* padding-left: 3rem;
    padding-right: 3rem; */
  }
}
@media all and (max-width: 1200px) and (min-width: 1090px) {
  .card {
    width: 25%;
  }
  .pad {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
}
@media all and (max-width: 1090px) and (min-width: 1015px) {
  .card {
    width: 24.5%;
  }
  .pad {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
@media all and (max-width: 942px) and (min-width: 870px) {
  .c-p {
    margin-top: 0;
    font-size: 20px;
  }
  .big-heading {
    width: 80%;
    font-size: 70px;
  }
  .h-detail {
    font-size: 16px;
  }
  .pad {
    padding: 0 1rem;
  }
  .row2 {
    flex-wrap: nowrap;
  }
  .main-exp {
    padding: 0 3rem;
  }
  #experience-sec {
    height: 130vh;
  }
  .exp-h1 {
    font-size: 40px;
    width: 100%;
  }
  .exp-p {
    font-size: 32px;
  }
  .exp-row {
    padding: 0rem;
  }
  #experience-sec .row {
    padding: 4rem 0rem;
  }
  .lbl {
    font-size: 18px;
    margin-left: 0.7;
  }
  .method-h1 {
    font-size: 57px;
  }
  .method-p {
    font-size: 30px;
  }
  .center h3 {
    font-size: 30px;
    margin-bottom: 2rem;
  }
  .method-label {
    font-size: 21px;
    min-height: 3rem;
  }
  #method-section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .check-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .btn-checkout {
    font-size: 40px;
  }
  #discover-sec img {
    height: 500px;
    width: 100%;
  }
  /* card sec */
  .card {
    width: 24%;
  }
  .card-h3 {
    font-size: 20px;
  }
  .card-btn {
    font-size: 15px;
    margin-top: 0;
  }
  .card-adress {
    font-size: 15px;
  }
  .card-price {
    font-size: 15px;
  }
  .card-add {
    text-align: center;
    margin-top: 8px;
  }
  .card-description {
    margin-bottom: 0;
  }
  #card-sec .row {
    row-gap: 1rem;
  }
  .card-detail {
    margin-top: 0.5rem;
  }
}
@media all and (max-width: 870px) and (min-width: 769px) {
  .c-p {
    font-size: 18px;
  }

  .big-heading {
    width: 80%;
    font-size: 55px;
  }
  .h-detail {
    font-size: 14px;
    width: 57%;
  }
  .btn-discover {
    font-size: 18px;
  }
  #header {
    height: 110vh;
  }
  .icon-down {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 49%;
    top: 100%;
    text-decoration: none;
  }
  .pad {
    padding: 0 1rem;
  }
  .row2 {
    flex-wrap: nowrap;
  }
  .main-exp {
    padding: 0 3rem;
  }
  #experience-sec {
    height: 130vh;
  }
  .exp-h1 {
    font-size: 35px;
    width: 100%;
  }
  .exp-p {
    font-size: 28px;
  }
  .exp-row {
    padding: 0rem;
  }
  #experience-sec .row {
    padding: 4rem 0rem;
  }
  .lbl {
    font-size: 18px;
    margin-left: 0.7;
  }
  .method-h1 {
    font-size: 47px;
  }
  .method-p {
    font-size: 16px;
  }
  .center h3 {
    font-size: 30px;
    margin-bottom: 2rem;
  }
  .method-label {
    font-size: 21px;
    min-height: 3rem;
  }
  #method-section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #experience-sec button {
    font-size: 16px;
    width: 200px;
    padding: 0.3 1rem;
  }
  .echeck {
    height: 30px;
    width: 30px;
  }
  .lbl {
    font-size: 16px;
  }
  .check-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .btn-checkout {
    font-size: 30px;
    margin: 0;
    padding: 0 4rem;
  }
  #discover-sec img {
    height: 500px;
    width: 100%;
  }
  /* card sec */
  .card {
    padding: 20px;
    width: 26%;
  }
  .card-h3 {
    font-size: 22px;
  }
  .card-btn {
    font-size: 15px;
    margin-top: 0;
  }
  .card-adress {
    font-size: 15px;
  }
  .card-price {
    font-size: 15px;
  }
  .card-add {
    text-align: center;
    margin-top: 8px;
  }
  .card-description {
    margin-bottom: 0;
  }
  .card-detail {
    font-size: 14px;
    margin-top: 0.5rem;
  }
  #card-sec .row {
    row-gap: 1rem;
  }
}
/* @media all and (max-width: 960px) and (min-width: 769px) {
  .big-heading {
    width: 90%;
  }
  .pad {
    padding: 0 4rem;
  }
  .card {
    width: 38%;
  }
  .row2 {
    flex-wrap: nowrap;
  }
} */
@media (max-width: 768px) {
  /* .nav {
    display: none;
  } */
  .navbar1 .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    left: 0;
    background-color: #3a3531;
    width: 100%;
    box-sizing: border-box;
  }
  .navbar1 .nav > * {
    padding: 1rem;
  }
  footer .nav {
    flex-direction: row;
  }
  .navbar-btn {
    display: block;
  }
  #discover-sec img {
    display: none;
  }
}

@media all and (max-width: 768px) and (min-width: 600px) {
  #header {
    height: 100vh;
  }
  .c-p {
    font-size: 20px;
  }
  .icon-down a {
    top: 90%;
  }
  .big-heading {
    font-size: 3rem;
    width: 80%;
  }
  .h-detail {
    max-width: 65%;
    font-size: 1rem;
  }
  .nav {
    display: flex;
    position: relative;
    flex-direction: column;
    right: 0;
  }
  .nav button {
    width: 5rem;
    border: 0;
  }
  .login-btn {
    border: 0;
    padding: 10px 0;
    border-radius: 0;
  }
  .method-h1 {
    font-size: 40px;
  }
  .method-p {
    font-size: 20px;
  }
  .method-label {
    font-size: 18px;
  }
  .chckbox {
    height: 30px;
    width: 30px;
  }
  .icon-down2 {
    margin-bottom: 2rem !important;
  }
  .checkbox-column {
    width: 45%;
  }

  .btn-checkout {
    font-size: 2rem;
    padding: 0.1rem 3rem;
  }
  .col-1 {
    box-sizing: border-box;

    width: 50%;
    padding-left: 10%;
  }
  #experience-sec button {
    margin: 1rem 2rem 2rem 2rem;
    width: 230px;
  }
  #experience-sec h1 {
    font-size: 1.5rem;
    line-height: 40px;
  }
  .exp-p {
    font-size: 1rem;
  }
  #experience-sec {
    padding: 1rem 0;
    min-height: 120vh;
  }
  .lbl {
    font-size: 18px;
  }
  #experience-sec .row {
    padding: 2rem 1rem;

    justify-content: flex-start;
  }
  .main-exp {
    padding: 1rem;
  }
  .echeck {
    height: 30px;
    width: 30px;
  }
  .line-div {
    margin-right: 0 !important;
  }

  .center {
    width: 80%;
  }
  /* dicover */
  .card-h3,
  .card-description {
    font-size: 20px;
  }
  .card-description {
    margin-bottom: 10px;
  }
  .card-adress,
  .card-price,
  .card-btn {
    font-size: 16px;
  }
  .card {
    width: 37.5%;
  }
  .pad {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /* .card {
    width: 37%;
  } */
  /* .pad {
    padding: 0 1rem;
  } */
  #discover-sec h3 {
    font-size: 32px;
  }
  #card-sec .row {
    row-gap: 1rem;
  }
}
@media all and (max-width: 768px) and (min-width: 701px) {
  #card-sec .row {
    row-gap: 2rem;
  }
  .pad {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media all and (max-width: 630px) and (min-width: 426px) {
  #card-sec .row {
    row-gap: 1rem;
  }
  .big-heading {
    font-size: 3rem;
    width: 80%;
  }

  .h-detail {
    max-width: 65%;
    font-size: 1rem;
  }
  .nav {
    display: flex;
    position: relative;
    flex-direction: column;
    right: 0;
  }
  .nav button {
    width: 5rem;
    border: 0;
  }
  .login-btn {
    border: 0;
    padding: 10px 0;
    border-radius: 0;
  }
  .method-h1 {
    font-size: 40px;
  }
  .method-p {
    font-size: 20px;
  }
  .method-label {
    font-size: 18px;
  }
  .chckbox {
    height: 30px;
    width: 30px;
  }
  .icon-down2 {
    margin-bottom: 2rem !important;
  }
  .checkbox-column {
    width: 45%;
  }
  .card {
    width: 38%;
  }
  .card-detail {
    font-size: 14px;
  }
  .btn-checkout {
    font-size: 2rem;
    padding: 0.1rem 3rem;
  }
  .pad {
    padding: 0 2rem;
  }
  .col-1 {
    box-sizing: border-box;

    width: 50%;
    padding-left: 10%;
  }
  #experience-sec button {
    margin: 1rem 1rem 1rem 1rem;
    width: 230px;
  }
  #experience-sec h1 {
    font-size: 1.2rem;
    line-height: 40px;
  }
  .exp-p {
    font-size: 1rem;
  }
  #experience-sec {
    padding: 1rem 0;
    min-height: 100vh;
  }
  .lbl {
    font-size: 12px;
  }
  #experience-sec .row {
    padding: 2rem 1rem;

    justify-content: flex-start;
  }
  .main-exp {
    padding: 1rem;
  }
  .echeck {
    height: 16px;
    width: 16px;
  }
  .line-div {
    margin-right: 0 !important;
  }

  .center {
    width: 80%;
  }
  /* dicover */
  .card-h3,
  .card-description {
    font-size: 20px;
  }
  .card-description {
    margin-bottom: 10px;
  }
  .card-adress,
  .card-price,
  .card-btn {
    font-size: 16px;
  }
  .card {
    width: 35%;
  }
  .pad {
    padding: 0 1rem;
  }
  .c-p {
    margin-top: 0;
    font-size: 15px;
  }
  #discover-sec h3 {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  #card-sec .row {
    row-gap: 1rem;
  }
  body {
    width: 100%;
  }
  #navbar {
    padding: 0;
  }
  .login-btn {
    border: 0;
    padding: 10px 0;
    border-radius: 0;
  }
  .icon-down a {
    top: 100%;
    font-size: 15px;
  }
  #header {
    height: 100vh;
  }
  .h-detail {
    font-size: 15px;
    max-width: 75%;
  }
  .btn-discover {
    font-size: 1rem;
    padding: 0.3rem 1rem;
  }

  .hh {
    font-size: 15px;
  }
  .pp {
    font-size: 10px;
    display: inline-block !important;
    padding: 0;
    width: 60%;
  }
  .line-div {
    margin-right: 0 !important;
    justify-content: space-around;
    /* width: 100%; */
  }
  .c-p {
    margin-bottom: 7rem;
  }
  .center-line {
    width: 20%;
    left: -55px;
  }
  .center-line > * {
    left: 3rem;
    top: -80px;
    /* top:10px; */
  }
  .rgt-line {
    width: 30%;
  }
  .lft-line > * {
    width: 3rem;
    left: -10px;
    top: -80px;
  }
  .rgt-line > * {
    width: 5rem;
    right: -4.7rem;
    top: -80px;
  }
  .btn-result {
    font-size: 20px;
  }
  .center {
    width: 100%;
  }
  /* method */
  #method-section {
    margin: 4rem 1rem;
  }
  #method-section .icon-down2 {
    margin-bottom: 2rem;
  }
  .checkbox-column {
    width: 50%;
  }
  .method-h1 {
    font-size: 30px;
    margin-bottom: 0;
    padding: 0;
  }
  .method-p {
    margin-top: 0;
    font-size: 16px;
  }
  .method-label {
    font-size: 15px;
  }
  .chckbox {
    height: 30px;
    width: 30px;
    line-height: 15px;
    padding-bottom: 0;
  }
  /* #experience-sec{
  max-width: 100%;
} */
  #experience-sec button {
    width: 100px;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 10px;
    width: 120px;
  }
  #experience-sec .row {
    padding: 2rem 0;
    padding-left: 4rem;
    /* padding-left: 2rem; */
    justify-content: flex-start;
  }
  .exp-p {
    margin-top: 0;
  }
  .main-exp {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .col-1 {
    width: 45%;
  }
  .lbl {
    font-size: 10px;
    margin-left: 0.3rem;
  }
  .echeck {
    height: 20px;
    width: 20px;
  }
  .big-heading {
    font-size: 2rem;
  }
  #header {
    max-width: 100%;
  }
  .main-exp {
    max-width: 100%;
  }
  .card {
    width: 100%;
  }
  .card-h3 {
    font-size: 25px;
  }
  .card-adress {
    font-size: 18px;
  }
  .card-price {
    font-size: 18px;
  }
  .card-btn {
    font-size: 16px;
  }
  .card-description {
    font-size: 25px;
    margin-bottom: 10px;
  }
  #card-sec {
    margin-top: 2rem;
  }
  .row {
    padding: 1rem;
    row-gap: 1rem;
  }

  .btn-checkout {
    font-size: 1rem;
    padding: 0 3rem;
  }
  #discover-sec {
    padding: 0rem;
  }
  .center h3 {
    font-size: 1.2rem;
  }
  .main-exp {
    padding: 0;
  }
  .exp-p {
    font-size: 12px;
  }
  .icon-down2 {
    font-size: 10px;
  }
  #experience-sec {
    /* height: 90% !important; */
    padding-bottom: 0rem;
  }
  .exp-h1 {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0;
  }
  .slider {
    width: 99%;
  }
}

@media (max-width: 600px) and (min-width: 500px) {
  #card-sec .row {
    row-gap: 1rem;
  }
  .card {
    width: 40%;
    padding: 15px;
  }
  .card-h3 {
    font-size: 15px;
  }
  .card-adress {
    font-size: 13px;
  }
  .card-price {
    font-size: 13px;
  }
  .card-btn {
    font-size: 12px;
  }
  .card-description {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .hh {
    font-size: 15px;
  }
  .pp {
    font-size: 10px;
    display: inline-block !important;
    padding: 0;
    width: 60%;
  }
  .line-div {
    margin-right: 0 !important;
    justify-content: space-around;
    /* width: 100%; */
  }
  .center-line {
    width: 7rem;
    left: -3.5rem;
  }
  .center-line > * {
    left: 3.5rem;
  }
  .rgt-line {
    width: 9rem;
  }
  .lft-line > * {
    width: 3rem;
    left: -10px;
  }
  .rgt-line > * {
    width: 5rem;
  }
  .btn-result {
    font-size: 20px;
  }
  .center {
    width: 100%;
  }
  .slider {
    width: 95%;
  }
}
@media all and (max-width: 440px) and (min-width: 400px) {
  #card-sec .row {
    row-gap: 1rem;
  }
  .hh {
    font-size: 15px;
  }
  .pp {
    font-size: 10px;
    display: inline-block !important;
    padding: 0;
    width: 60%;
  }
  .line-div {
    margin-right: 0 !important;
    justify-content: space-around;

    /* width: 100%; */
  }
  .center-line {
    width: 20%;
    left: -55px;
  }
  .center-line > * {
    left: 2.5rem;
    top: -80px;
    /* top:10px; */
  }
  .rgt-line {
    width: 30%;
  }
  .lft-line > * {
    width: 3rem;
    left: -10px;
    top: -80px;
  }
  .rgt-line > * {
    width: 5rem;
    right: -3.7rem;
    top: -80px;
  }
  .btn-result {
    font-size: 20px;
  }
  .center {
    width: 100%;
  }
}

@media (max-width: 440px) {
  #card-sec .row {
    row-gap: 1rem;
  }
  #header {
    height: 90vh;
  }
  .icon-down a {
    top: 90%;
  }

  .c-p {
    margin-top: 0;
    font-size: 14px;
  }
  .hh {
    font-size: 15px;
  }
  .pp {
    font-size: 10px;
    display: inline-block !important;
    padding: 0;
    width: 60%;
  }
  .line-div {
    margin-right: 0 !important;
    justify-content: space-around;

    width: 100%;
  }
  .center-line {
    width: 20%;
    left: -6rem;
  }
  .center-line > * {
    left: 2.5rem;
    top: -80px;
    /* top:10px; */
  }
  .rgt-line {
    width: 10%;
  }
  .lft-line > * {
    width: 3rem;
    left: -10px;
    top: -80px;
  }
  .rgt-line > * {
    width: 5rem;
    right: 1rem;
    top: -80px;
  }
  .btn-result {
    font-size: 20px;
  }
  .center {
    width: 100%;
  }
  .slider {
    width: 95%;
  }
}
