html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.card .row {
  margin-bottom: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center !important;
  row-gap: 1rem;
}
/* navbar section */
#navbar {
  padding: 0.8rem 5rem;
  background-color: #3a3531;
  margin: 0;
}

.navbar {
  align-items: center;
}

#navbar .brand {
  font-size: 1.25rem;
  font-weight: 700;
}

.brand span {
  color: rgb(225, 192, 114);
}

#navbar a {
  text-decoration: none;
  color: #ffff;
  margin-left: 1rem;
}
.nav a {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 700;
}
.navbar1 .nav {
  display: flex;
  top: 3rem;
  left: 0;
  background-color: #3a3531;
  width: 100%;
  box-sizing: border-box;
}
.login-btn {
  border: 2px solid rgb(213, 186, 150);
  padding: 7px 12px;
  border-radius: 50px;
  width: 9rem;
  font-size: 15px;
  font-weight: 700;
  box-sizing: border-box;
}
/* navbar section end */

/* header section start */
#header {
  background-image: url('./images/front-beans.png');
  height: 120vh;
  background-size: cover;
  background-color: rgba(100, 100, 100, 1);
  background-blend-mode: multiply;
  /* opacity: rgba(0, 0, 0, 0.5); */
}
.big-heading {
  font-family: 'Inter', sans-serif;
  font-size: 100px;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  width: 95%;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 94.02%;
  letter-spacing: -0.05em;
}

.h-detail {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  max-width: 62%;
  color: #fff;
  padding-top: 0;
  line-height: 125.18%;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.heading-sectoin {
  margin-left: 6%;
  margin-right: 2%;
  padding-top: 2.5rem;
  line-height: 1.2;
  width: 1fr;
}
.icon-down a {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 49%;
  top: 110%;
  text-decoration: none;
}
.icon-down2 a {
  display: block;
  color: #fff;
  margin-top: 0;
  text-decoration: none;
}
.btn {
  display: block;
}
/* .btn:hover {
  background-color: #bdc1c0;
  border-radius: 50px 0px 50px 0px;
} */
/* .ang {
  font-size: 3rem;
} */
.btn-discover {
  border: 5px solid #d6be9e;
  padding: 0.3rem 3rem;
  background-color: transparent;
  font-size: 22px;
  font-weight: 800;
  color: #fff;
  border-radius: 50px;
  margin-top: 3rem;
}
/* Method section start */
#method-section {
  text-align: center;
  margin: 10rem 4rem;
}

.method-h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 67px;
  line-height: 81px;
  margin-bottom: 1rem;
}
.method-p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 0;
}
#method-section .icon-down2 {
  margin-bottom: 4rem;
}
/* #experience-sec div {
  position: relative;
} */

input {
  display: inline-block;
}
.chckbox:focus {
  background-color: #d6be9e;
}

.method-label {
  font-size: 18px;
  font-style: normal;
  margin: 1rem 0.5rem;
  display: block;
  font-weight: 700;
  min-height: 1rem;
}
.checkbox-column {
  text-align: center;
  width: 20%;
}
.check-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}
.chckbox {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  appearance: none;
  border: 4px solid black;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  padding-bottom: 10px;
}

.active {
  border-bottom: 3px solid black;
  margin-top: 18px;
  /* padding-bottom: 20px; */
  width: 46px;
  height: 48px;
  display: flex;
  margin: auto;
  justify-self: center;
}
/* method section end */
#experience-sec {
  background-image: url('./images/bean-hand.png');
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  position: relative;
  height: 110vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.echeck:focus {
  background-color: #d6be9e;
}
.main-exp {
  padding: 0 3rem;
}

.exp-h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 81px;
  color: #fff;
  width: 100%;
}
.exp-p {
  color: #fff;
  margin-bottom: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
}

#experience-sec button {
  display: inline-block;
  border: 3px solid rgb(213, 186, 150);
  padding: 0.3rem 3rem;
  background-color: transparent;
  font-size: 1.4rem;
  color: #fff;
  border-radius: 50px;
  margin: 1rem 3rem;
  margin-bottom: 0;
  width: 286px;
}
#exp-row {
  display: none;
  padding: 5rem 5rem;
  text-align: center;
  line-height: 30px;
  align-items: center;
  justify-content: center;
}

/* .exp-row {
  padding: 5rem 5rem;
  text-align: left;
  line-height: 30px;
  align-items: center;
} */
.col-1 {
  width: 30%;
}
.txt {
  display: flex;
  align-items: center;
}
.echeck {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  appearance: none;
  border: 4px solid #d6be9e;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.lbl {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  margin-left: 1rem;
}

/* #experience-sec button:hover {
  background-color: #bdc1c0;
  border-radius: 50px 0px 50px 0px;
} */

/* experience section end */

/* Discover Section Start */
#discover-sec img {
  height: 500px;
  width: 200px;
}
#discover-sec {
  text-align: center;
}
.center h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 81px;
  margin-bottom: 3rem;
}
.slider {
  width: 100%;
  background: url('f@2x.png');
  height: 4px;
  margin-bottom: 4rem;
}
.slider {
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: #513f37;

  outline: none;
  opacity: 1;

  /* -webkit-transition: 0.2s; */
  /* transition:opacity 0.2s; */
}

.slider:hover {
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 60px;
  width: 33px;
  border: 0;
  background: url('./images/f@2x1.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url('./images/f@2x1.png');
  cursor: pointer;
}
.nowrp {
  flex-wrap: nowrap;
}
.line-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.lft-line {
  border-left: 2px solid black;
  height: 2rem;
  width: 10rem;
  /* display: inline-block; */
}
.rgt-line {
  border-right: 2px solid black;
  height: 2rem;
  margin-right: 0;
  width: 10rem;
}
.center-line {
  border-right: 2px solid black;
  height: 2rem;
  width: 10rem;
  position: relative;
  left: -4.8rem;
}
.line-div {
  margin: 5rem 1rem 1rem 0;
}
.lft-line > * {
  padding: 0;
  position: relative;
  top: -100px;
  left: -55px;
}
.rgt-line > * {
  padding: 0;
  position: relative;
  top: -100px;
  right: -40px;
}
.center-line > * {
  padding: 0;
  position: relative;

  top: -100px;
  right: -5rem;
}
.hh {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
  margin-bottom: 0;
  padding: 0;
}
.pp {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  width: 10rem;
}
.center h3 {
  margin-bottom: 0;
  padding: 0;
}
.c-p {
  font-size: 30px;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 10rem;
}
input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.navbar-btn {
  background-color: inherit;
  border: 0;
  outline: 0;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}
.btn-result {
  background-color: #2d2926;
  color: white;
  font-size: 30px;
  font-weight: 500;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}
/* Discover Section Ends */

/* card section start */

#card-sec {
  margin-top: 5rem;
}
.card {
  width: 26%;
  border: 5px solid #d6be9e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 44px;
  padding: 30px;
}
.pad {
  box-sizing: border-box;
  padding: 0 7rem;
}
.card img {
  width: 50%;
}
.card-image {
  text-align: center;
}
#card-sec .row {
  row-gap: 1.5rem;
}

.card-h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  /* line-height: 36px; */
  margin: 0;
}
.card-adress {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  word-wrap: -0.08em;
  margin: 5px 0;
}
.card-price {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  margin: 5px 0 1rem;
}
.card-btn {
  /* background-color: #2d2926;
  /* padding: 0.2rem 0.5rem; */
  /* border-radius: 50%; */
  /* color: #fff; */
  /* font-size: 2rem; */
  border: none;
  background-color: #fff;
  font-size: 18px;
  height: 58px;
  width: 58px;
  /* margin-top: 0.1rem; */
}
/* .card p {
  margin: 10px 0;
} */
.card-p {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
}
.card-description {
  font-family: 'Inter';
  font-style: normal;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.card-detail {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  line-height: 125.18%;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 25px;
}
.card-add {
  text-align: center;
}

#bottom-sec {
  background-image: url('./images/bottom.png');
  margin-top: 3rem;
  display: flex;
  background-size: cover;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.7);

  background-blend-mode: multiply;
}
.btn-checkout {
  display: inline-block;
  border: 7px solid rgb(213, 186, 150);
  padding: 0.3rem 3rem;
  background-color: transparent;
  font-size: 67px;
  font-weight: 700;
  line-height: 81px;
  font-style: normal;
  color: #fff;
  border-radius: 50px;
  margin: 3rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}
/* footer .nav a {
  color: #fff !important;
} */
.addtocart {
  display: none;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100vh;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: blur(8px); */
}
.iner-div {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 70%;
  transform: scale(0.8);
  border-radius: 5px;
}

.inner-card {
  width: 30%;
  border: 3px solid #d6be9e;
  border-radius: 30px;
  padding: 1rem 1.5rem;
  height: 400px;
}
.inner-card-image img {
  width: 50%;
}
.inner-card-image {
  text-align: center;
}
.inner-card-btn {
  /* background-color: #2d2926; */
  /* padding: 0.2rem 0.5rem; */
  /* border-radius: 50%; */
  color: #000;
  /* font-size: 1rem; */
  border: none;
  background-color: #fff;
  font-size: 1rem;
  /* margin-top: 0rem; */
}
.inner-card h3 {
  font-family: 'Inter';
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 16px;
}
.inner-card-h-right p {
  margin-top: 25px;
  margin-bottom: 0;
}
.inner-card-description {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: 8px;
}
.inner-card-detail {
  margin-top: 0;
}
.btn-shopping {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px #d6be9e solid;
  border-radius: 50px;
  margin: 1rem;
  width: 15rem;
}
.btn-dark {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  width: 15rem;
  border: 2px #0000 solid;
  border-radius: 50px;
  margin: 1rem;
}
.card-btn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}
.btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #bdc1c0;
} /* footer section */
#f-navbar {
  padding: 0.8rem 5rem;
  background-color: #3a3531;
  margin: 0;
}
